{% extends "base.html" %} {% block title %}Home{% endblock %} <!-- inherits structure from base.html -->
{% block content %}
    <h1>HOMEPAGE</h1>
    <a href="{{ url_for('auth.sign_up') }}">
        <button>Sign Up</button> <!-- Temp button - saves time-->
    </a>
    <a href="{{ url_for('auth.login') }}">
        <button>login</button>
    </a>
{% endblock %} <!-- specifies where to insert content (override base.html) -->

<!--
TOD DO:
- add homepage functionality: simple login/sign-up buttons
- choose basic design / find template to use
-->
