{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}
<link rel="stylesheet" href="static/main.css">

<form method="POST">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Log Your Reading</h5>
                <div class="form-group">
                    <br>
                    <input type="text"
                           class="form-control"
                           id="bookName"
                           name="bookName"
                           placeholder="Enter Book Name">
                </div>
                <div class="form-group">
                    <br>
                    <input type="text"
                           class="form-control"
                           id="pagesRead"
                           name="pagesRead"
                           placeholder="Pages Read">
                </div>
                <div class="form-group">
                    <br>
                    <input type="text"
                           class="form-control"
                           id="timeSpent"
                           name="timeSpent"
                           placeholder="Reading Time">
                </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

<!--<div class="container">-->
<!--    <div class="graph" style="max-width: 100%; ">-->
<!--        <ul class="months">-->
<!--          <li>Jan</li>-->
<!--          <li>Feb</li>-->
<!--          <li>Mar</li>-->
<!--          <li>Apr</li>-->
<!--          <li>May</li>-->
<!--          <li>Jun</li>-->
<!--          <li>Jul</li>-->
<!--          <li>Aug</li>-->
<!--          <li>Sep</li>-->
<!--          <li>Oct</li>-->
<!--          <li>Nov</li>-->
<!--          <li>Dec</li>-->
<!--        </ul>-->
<!--        <ul class="days">-->
<!--          <li>Sun</li>-->
<!--          <li>Mon</li>-->
<!--          <li>Tue</li>-->
<!--          <li>Wed</li>-->
<!--          <li>Thu</li>-->
<!--          <li>Fri</li>-->
<!--          <li>Sat</li>-->
<!--        </ul>-->
<!--        <ul class="squares">-->

<!--        </ul>-->
<!--    </div>-->
<!--</div>-->

{% endblock %}

<!-- This will be the 'homepage' for users to access their data / books-->