{% extends "base.html" %} {% block title %}Login{% endblock %}
{% block content %}
<div class="container min-vh-100 d-flex justify-content-center align-items-center">
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Welcome!</h5>
      <p class="card-text">Welcome to your virtual library - track reading etc</p>
      <a href="/library" class="btn btn-primary">Get Started</a>
    </div>
  </div>
</div>
{% endblock %}